@inherits LayoutComponentBase

<div class="sidebar">
    <nav>
        <ul>
            <li>
                <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li>
                <NavLink href="/cart" class="nav-link">Giỏ Hàng</NavLink>
            </li>
        </ul>
    </nav>
</div>

<div class="main">
    @Body
</div>

<style>
    .sidebar {
        padding: 1rem;
        background-color: #f8f9fa;
    }

    .main {
        padding: 1rem;
    }

    .nav-link {
        display: block;
        padding: 0.5rem 0;
    }
</style>
